* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #090b1a;
	font-family: "Inter", sans-serif;
	font-family: "Lexend Deca", sans-serif;
	color: #fff;
}

.stats-preview {
	display: flex;
	margin: auto;
	width: 900px;
	border-radius: 5px;
	overflow: hidden;
}
.stats-details {
	flex: 1 1 50%;
	padding: 60px 80px 60px 60px;
	background-color: hsl(244, 38%, 16%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.image {
	flex: 1 1 50%;
	position: relative;
}
.image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(96, 19, 143, 0.6);
}

.image img {
	width: 100%;

	height: 100%;
}

.primary-color {
	color: rgb(118, 42, 165);
}
.heading-primary {
	font-size: 28px;
}
.description {
	font-size: 12px;
	color: hsla(0, 0%, 100%, 0.75);
}
.stats-box {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.stats-box p {
	margin-top: 10px;
	font-size: 10px;
	color: hsla(0, 0%, 100%, 0.75);
}
